[class^="icon-"]:before {
	content: '';
	display: inline-block;
	vertical-align:middle;
	background-image: url( '../SVGSprite.svg' );
	background-repeat: no-repeat;
	position: relative;
	top: -0.1em;
}

.icon-banner-pearstore:before {
	width:3.125em ;
	height:1em ;
	background-position: -0.078125em -0.078125em;
	background-size: ( 4.359375 / 3.125 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-banner-noodleplay:before {
	width:2.96875em ;
	height:1em ;
	background-position: -0.078125em -1.15625em;
	background-size: ( 4.359375 / 2.96875 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-chicken:before {
	width:1em ;
	height:1em ;
	background-position: -3.28125em -0.078125em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-cupcake:before {
	width:1em ;
	height:1em ;
	background-position: -3.28125em -1.15625em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-friedegg:before {
	width:1em ;
	height:1em ;
	background-position: -0.078125em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-humberger:before {
	width:1em ;
	height:1em ;
	background-position: -1.15625em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-pizza:before {
	width:1em ;
	height:1em ;
	background-position: -2.234375em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
