// icons

[class^="icon-"]:before {
	content: '';
	display: inline-block;
	vertical-align:middle;
	background-image: url( '../SVGSprite.svg' );
	background-repeat: no-repeat;
	position: relative;
	top: -0.1em;
}

.icon-banner-pearstore:before {
	width:3.125em ;
	height:1em ;
	background-position: -0.078125em -0.078125em;
	background-size: ( 4.359375 / 3.125 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-banner-noodleplay:before {
	width:2.96875em ;
	height:1em ;
	background-position: -0.078125em -1.15625em;
	background-size: ( 4.359375 / 2.96875 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-chicken:before {
	width:1em ;
	height:1em ;
	background-position: -3.28125em -0.078125em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-cupcake:before {
	width:1em ;
	height:1em ;
	background-position: -3.28125em -1.15625em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-friedegg:before {
	width:1em ;
	height:1em ;
	background-position: -0.078125em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-humberger:before {
	width:1em ;
	height:1em ;
	background-position: -1.15625em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}
.icon-pizza:before {
	width:1em ;
	height:1em ;
	background-position: -2.234375em -2.234375em;
	background-size: ( 4.359375 / 1 * 100% ) ( 3.3125 / 1 * 100% );
}

// mixin

$icons: (
  banner-pearstore: (x:-0.078125, y:-0.078125, w: 3.125, h:1),
  banner-noodleplay: (x:-0.078125, y:-1.15625, w: 2.96875, h:1),
  chicken: (x:-3.28125, y:-0.078125, w: 1, h:1),
  cupcake: (x:-3.28125, y:-1.15625, w: 1, h:1),
  friedegg: (x:-0.078125, y:-2.234375, w: 1, h:1),
  humberger: (x:-1.15625, y:-2.234375, w: 1, h:1),
  pizza: (x:-2.234375, y:-2.234375, w: 1, h:1),
);

@mixin coloredIcon ( $iconName, $height: 16px ) {
	$x: ( map-get( map-get( $icons, $iconName ), 'x' ) );
	$y: ( map-get( map-get( $icons, $iconName ), 'y' ) );
	$w: ( map-get( map-get( $icons, $iconName ), 'w' ) );
	$h: ( map-get( map-get( $icons, $iconName ), 'h' ) );

	content: '';
	display: block;
	width: $height * $w;
	height: $height * $h;
	background-image: url( '../SVGSprite.svg' );
	background-repeat: no-repeat;
	background-position: $height * $x $height * $y;
	background-size: ( 4.359375 / $w * 100% ) ( 3.3125 / $h * 100% );
}
